<div class="container mt-3">
  <div class="row">
    <div class="col text-center">
      <img
        class="img-thumbnail rounded-circle"
        width="400"
        height="400"
        src="img/profile.jpeg"
        alt="profile"
      />
      <h1 class="display-4 fw-semibold">Ray Ramadita</h1>
      <p class="lead">Fullstack Javascript Developer</p>
    </div>
  </div>
</div>
